<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Paiement
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container mt-3">

        <ion-item class="row">
            <ion-input type="text" class="form-control d-inline" placeholder="Nom *" #name></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="number" class="form-control d-inline" placeholder="Numéro de carte *" #cardNumber></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="date" class="form-control d-inline" placeholder="Date d'expiration *" #expiration></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="number" class="form-control d-inline" placeholder="Code de sécurité 3 chiffres *" #security></ion-input>
        </ion-item>

        <div class="text-center">
            <ion-button class="mt-3" (click)="pay(name.value, cardNumber.value, expiration.value, security.value);">
                Valider le paiement
            </ion-button>
        </div>

    </div>

</ion-content>