<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <ion-item class="mb-3 row">
            <ion-input class="form-control d-inline" type="text" placeholder="Nom *" required #firstname></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input class="form-control d-inline" type="text" placeholder="Prénom *" #lastname></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input class="form-control d-inline" type="email" placeholder="Email *" #email></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input type="password" class="form-control d-inline" placeholder="Mot de passe *" #password></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input type="password" class="form-control d-inline" placeholder="Mot de passe confirmation *" #passwordConfirmation></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input type="number" class="form-control d-inline" placeholder="Numéro de téléphone mobile *" #mobilePhoneNumber></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-input type="number" class="form-control d-inline" placeholder="Numéro de téléphone fixe" #landlinePhoneNumber></ion-input>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-label class="col-6 m-0 p-0">Civilité *</ion-label>
            <ion-select class="col-6 m-0 p-0" placeholder="Select One" #civility>
                <ion-select-option value="M.">Monsieur</ion-select-option>
                <ion-select-option value="Mme.">Madame</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="mb-3 row">
            <ion-label class="mr-3 col-6 m-0 p-0">Date de naissance *</ion-label>
            <ion-input type="date" class="form-control d-inline col-6 m-0 p-0" placeholder="Date de naissance" #dateOfBirth></ion-input>
        </ion-item>
        <div class="text-center">
            <ion-button (click)="register(firstname.value, lastname.value, email.value, password.value, passwordConfirmation.value, mobilePhoneNumber.value, landlinePhoneNumber.value, civility.value, dateOfBirth.value); lastname.value=''; firstname.value=''; email.value=''; password.value=''; passwordConfirmation.value=''; mobilePhoneNumber.value=''; landlinePhoneNumber.value=''; civility.value=''; dateOfBirth.value='';">
                Register
            </ion-button>
        </div>
    </div>
</ion-content>