<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mes commandes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <div class="card col-10 offset-1 mb-4" *ngFor="let order of orders" (click)="getOrder(order)">
            <div class="card-body">
                <p class="card-title">Référence : {{ order.numOrder }}</p>
                <p>Statut : {{ order.status }} </p>
                <p>Prix TTC : {{ order.priceTotalTTC.toFixed(2) }} €</p>
                <p>Date de livraison : {{ order.deliveryDate }}</p>
                <p>Créneau horaire : {{ order.hours }}</p>
            </div>
        </div>
    </div>
</ion-content>