<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container mt-3">
        <p *ngIf="guard.isLogin">Bienvenue sur l'application Livraimobile <b>{{user.firstname}}</b></p>
        <p *ngIf="!guard.isLogin">Bienvenue visiteur, veuillez vous authentifier.</p>
    </div>

</ion-content>