<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mon profil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container mt-3">

        <ion-item class="row">
            <ion-label>Nom : {{user.lastname}}</ion-label>
        </ion-item>

        <ion-item class="row">
            <ion-label>Prénom : {{user.firstname}}</ion-label>
        </ion-item>

        <ion-item class="row">
            <ion-label class="mr-3 col-6 p-0">Adresse mail : </ion-label>
            <ion-input type="email" class="col-6 p-0 form-control d-inline" placeholder="Email *" value="{{user.email}}" #email></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-label class="mr-3 col-6 p-0">Mot de passe actuel : </ion-label>
            <ion-input type="password" class="col-6 p-0 form-control d-inline" #oldPassword></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-label class="mr-3 col-6 p-0">Nouveau mot de passe : </ion-label>
            <ion-input type="password" class="col-6 p-0 form-control d-inline" #newPassword></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-label class="mr-3 col-6 p-0">Mobile : </ion-label>
            <ion-input class="col-6 p-0 form-control d-inline" placeholder="Numéro de téléphone mobile *" value="{{user.mobilePhoneNumber}}" #mobilePhoneNumber></ion-input>
        </ion-item>

        <ion-item class="mb-3 row">
            <ion-label class="mr-3 col-6 p-0">Fixe : </ion-label>
            <ion-input class="col-6 p-0 form-control d-inline" placeholder="Numéro de téléphone fixe" value="{{user.landlinePhoneNumber}}" #landlinePhoneNumber></ion-input>
        </ion-item>

        <div class="text-center">
            <ion-button class="mt-3" (click)="updateUser(email.value, oldPassword.value, newPassword.value, mobilePhoneNumber.value, landlinePhoneNumber.value);">
                Valider les changements
            </ion-button>
        </div>

    </div>

</ion-content>