<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Articles
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <ion-item class="mb-3 row">
            <ion-label class="col-6 m-0 p-0">Filtrer par catégorie</ion-label>
            <ion-select class="col-6 m-0 p-0" placeholder="Select One" (ionChange)="filterBy(category.value)" #category>
                <ion-select-option value="all">Toutes les catégories</ion-select-option>
                <ion-select-option *ngFor="let categorie of categories" value="{{ categorie.id }}">{{ categorie.name }}</ion-select-option>
            </ion-select>
        </ion-item>
        <form [formGroup]="formOrderArticle">
            <div class="card mb-4" *ngFor="let article of articles">
                <div class="text-center pt-3">
                    <img width="150" height="150" [src]="article.img" alt="Card image cap" (click)="getArticle(article)">
                    <h5 class="card-title mb-0">{{ article.name }}</h5>
                </div>
                <div class="card-body">
                    <ion-item class="row">
                        <ion-label class="mr-3">Prix/u : {{ article.price }} €</ion-label>
                        <ion-input type="number" class="form-control d-inline" placeholder="Quantité" formControlName="quantity" #quantity></ion-input>
                    </ion-item>
                    <div class="text-center">
                        <ion-button class="mt-3" (click)="
                            addOrderArticle(article, quantity.value);
                        ">
                            Ajouter au panier
                        </ion-button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>