<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Article
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <div class="card col-8 offset-2 mb-4">
            <img class="card-img-top col-6 offset-3" src="{{article.img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ article.name }}</h5>
                <p>Prix/u : {{ article.price }} €</p>
                <p>Tva : {{ article.tva }} %</p>
                <p>Description : {{ article.description }}</p>
            </div>
        </div>
    </div>
</ion-content>