<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container mt-3">

    <ion-item class="row">
      <ion-input class="form-control d-inline" placeholder="Email" #email></ion-input>
    </ion-item>
    <ion-item class="row">
      <ion-input type="password" class="form-control d-inline" placeholder="Password" #password></ion-input>
    </ion-item>
    <div class="text-center">
      <ion-button class="mt-3" (click)="login(email.value, password.value); email.value=''; password.value=''">
        Login
      </ion-button>
    </div>

  </div>
</ion-content>