<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Ma commande
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <div class="card col-10 offset-1 mb-4">
            <div class="card-body">
                <p class="card-title">Référence : {{ order.numOrder }}</p>
                <p>Statut : {{ order.status }} </p>
                <p>Adresse : {{ order.address }} </p>
                <p>Complément d'adresse : {{ order.additionalAddress }} </p>
                <p>Ville : {{ order.city }} </p>
                <p>Code postal : {{ order.postalCode }} </p>
                <p>Prix TTC : {{ order.priceTotalTTC.toFixed(2) }} €</p>
                <p>Prix HT : {{ order.priceTotalHT.toFixed(2) }} €</p>
                <p>Date de livraison : {{ order.deliveryDate }}</p>
                <p>Créneau horaire : {{ order.hours }}</p>
                <p>Commentaire : {{ order.commentary }}</p>
            </div>
        </div>
        <div class="card col-10 offset-1 mb-4" *ngFor="let orderArticle of orderArticles">
            <div class="text-center pt-3">
                <img width="50" height="50" [src]="orderArticle.article.img" alt="Card image cap">
                <h5 class="card-title mb-0">{{ orderArticle.article.name }}</h5>
            </div>
            <div class="card-body pt-0">
                <ion-item class="row">
                    <p>Prix/u : {{ (orderArticle.article.price * (1 + orderArticle.article.tva / 100)).toFixed(2) }} €</p>
                    <p>Quantité : {{ orderArticle.quantity }} </p>
                </ion-item>
                <div class="text-center pt-2">
                    <p>Prix totalTTC : {{ (orderArticle.article.price * (1 + orderArticle.article.tva / 100) * orderArticle.quantity).toFixed(2) }} €</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>