<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Finaliser ma commande
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="container mt-3">

        <ion-item class="row">
            <ion-input type="text" class="form-control d-inline" placeholder="Adresse *" #address></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="text" class="form-control d-inline" placeholder="Complément d'adresse" #additionalAddress></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="text" class="form-control d-inline" placeholder="Ville *" #city></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-input type="text" class="form-control d-inline" placeholder="Code postal *" #postalCode></ion-input>
        </ion-item>

        <ion-item class="row">
            <ion-label class="col-6 m-0 p-0">Date de livraison *</ion-label>
            <ion-input type="date" class="col-6 m-0 p-0 form-control d-inline" #deliveryDate></ion-input>
        </ion-item>

        <ion-item class="mb-3 row">
            <ion-label class="col-6 m-0 p-0">Créneau horaire *</ion-label>
            <ion-select class="col-6 m-0 p-0" placeholder="Select One" #hours>
                <ion-select-option value="9H00 - 11H00">9H00 - 11H00</ion-select-option>
                <ion-select-option value="11H00 - 13H00">11H00 - 13H00</ion-select-option>
                <ion-select-option value="15H00 - 17H00">15H00 - 17H00</ion-select-option>
                <ion-select-option value="17H00 - 19H00">17H00 - 19H00</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-textarea rows={6} cols={20} placeholder="Commentaires à nous soumettre pour votre commande" #commentary></ion-textarea>

        <div class="text-center">
            <ion-button class="mt-3" (click)="pay(address.value, additionalAddress.value, city.value, postalCode.value, deliveryDate.value, hours.value, commentary.value);">
                Passer au paiement
            </ion-button>
        </div>

    </div>

</ion-content>