<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Mon panier
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container mt-3">
        <div class="text-center mb-2 border-bottom">
            <ion-label>Total de la commande : {{ price.toFixed(2) }} €</ion-label>
            <ion-button class="mt-2 mb-4" (click)="finishOrder();">
                Finaliser ma commande
            </ion-button>
        </div>
        <div class="mt-4">
            <div class="card col-10 offset-1 mb-4" *ngFor="let orderArticle of orderArticles">
                <div class="text-center pt-3">
                    <img width="50" height="50" [src]="orderArticle.article.img" alt="Card image cap">
                    <h5 class="card-title mb-0">{{ orderArticle.article.name }}</h5>
                </div>
                <div class="card-body pt-0">
                    <ion-item class="row">
                        <ion-label class="mr-3">Prix/u : {{ (orderArticle.article.price * (1 + orderArticle.article.tva / 100)).toFixed(2) }} €</ion-label>
                        <ion-input type="number" min="1" class="form-control d-inline" placeholder="Quantité" value="{{ orderArticle.quantity || 1 }}" formControlName="quantity" #quantity></ion-input>
                    </ion-item>
                    <div class="text-center pt-2">
                        <ion-label>Prix totalTTC : {{ (orderArticle.article.price * (1 + orderArticle.article.tva / 100) * quantity.value).toFixed(2) }} €</ion-label>
                    </div>
                    <div class="text-center">
                        <ion-button class="mt-3" (click)="editOrderArticles(orderArticle, quantity.value);">
                            Editer
                        </ion-button>
                        <ion-button class="mt-3 mr-2" (click)="deleteOrderArticles(orderArticle.id);">
                            Supprimer
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>